        <!-- Blog Section -->
        <div id="blog" class="snap-section min-h-screen bg-grey-50 py-12 md:py-12" >
          <div class="container px-4 md:px-6">
            <div class="bg-grey-50">
              <h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
                I also had a few freelancing experiences
              </h2>
              <h4 class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
                Some of my work and reviews
              </h4>
              <div class="grid w-full grid-cols-1 gap-6 pt-12 lg:grid-cols-4 xl:gap-10">
                <!-- Moroccan client-->
                <review-card
                  images="/assets/img/toulouse/1.png, /assets/img/toulouse/2.png"
                  author="Toulouse E-commerce | ASP.NET MVC"
                  platform="Fiverr"
                  stars="5"
                  href="https://www.fiverr.com/samiellouze255"
                  review="The work delivered was very satisfing ! I recommend him 200%"
                  class="col-span-1"
                  project-title="Toulouse E-commerce Website | ASP.NET MVC"
                  project-desc="An e-commerce website prototype. This website is a prototype for a client who wants to sell products online. It is a simple website with a few features like a shopping cart, a checkout process, and a contact form."
                ></review-card>
                <!-- Turkish client -->
                <review-card
                  images="/assets/img/nazim/1.jpg, /assets/img/nazim/2.jpg, /assets/img/nazim/3.jpg, /assets/img/nazim/4.jpg"
                  author="Elasoft Yazılım"
                  platform="Upwork"
                  stars="5"
                  href="https://www.upwork.com/freelancers/~017797100536df91e1?mp_source=share"
                  review="I had the pleasure of working with Sami on an ASP.NET
                  MVC project and I am extremely impressed with their skills
                  and expertise. Their attention to detail, communication
                  skills, and ability to work within tight deadlines was
                  exceptional. Throughout the project, Sami demonstrated a
                  deep understanding of ASP.NET and was able to troubleshoot
                  and solve any issues that arose. He also made valuable
                  suggestions and recommendations that greatly improved the
                  functionality and usability of the project. His
                  professionalism and dedication to the project were
                  evident, and I would not hesitate to work with him again
                  in the future. I highly recommend Sami to anyone looking
                  for a skilled and reliable .net developer."
                  project-title="Debt Calculation and Repayment System | ASP.NET MVC"
                  project-desc="A two-role web platform for managing scholarship users' debts and installment plans. Staff register users, manage monthly debt lists, and send notification emails with login links. Scholarship users log in, view their debt, and submit installment payment requests. Staff approve or deny requests, triggering email notifications. User statuses are automatically updated based on activity, with additional manual statuses for edge cases."                
                  ></review-card>
                <!-- Car rental project -->
                <review-card
                  images="/assets/img/library/1.png, /assets/img/library/2.png, /assets/img/library/3.png, /assets/img/library/4.png, /assets/img/library/5.png"
                  author="Zain Ali"
                  platform="Upwork"
                  stars="5"
                  href="https://www.upwork.com/freelancers/~017797100536df91e1?mp_source=share"
                  review="He is a professional developer who knows how to build
                  professional projects. HIs attention to detail is awesome.
                  I totally recommend him."
                  project-title="Library Management System | ASP.NET MVC"
                  project-desc="A web platform for managing library resources and user activities. Staff manage books, authors, and categories, while users search, borrow, and return books. Automated email notifications for due dates and overdue notices ensure timely returns. Admin dashboard tracks borrowing trends and user activity, enhancing library operations."
                ></review-card>
                <!-- Library project -->
                <review-card
                  images="/assets/img/carrental/1.png, /assets/img/carrental/2.png, /assets/img/carrental/3.png, /assets/img/carrental/4.png"
                  author="Zain Ali"
                  platform="Upwork"
                  stars="5"
                  href="https://www.upwork.com/freelancers/~017797100536df91e1?mp_source=share"
                  review="Great, work. This guy knows his work and he's a
                  professional. Everything was smooth, will consider him for
                  more work. 10/10 for his efforts."
                  project-title="Car Rental Management System | ASP.NET MVC"
                  project-desc="A web platform for managing car rentals and customer bookings. Staff manage car inventory, handle reservations, and track rental status. Users browse and book cars, view availability, and complete checkout processes. Automated email notifications for booking confirmations and reminders ensure a smooth rental experience. Admin dashboard tracks rental activity and user interactions, enhancing operational efficiency."
                ></review-card>
              </div>
            </div>
          </div>
        </div>
